
.nav {

	height: 50px;
}

.navbar-brand {

	font-size: 1.5em;
	margin-top: -5px;
}

.container-fluid {

	padding-top: 15px;
	margin-top: -5px;
	font-size: 1.1em;
}

.navbar-collapse {
	
	height: 131px;
	text-align: center;
	

}
.navbar-collapse li {

	border-bottom: 1px solid #E0E0E0;

	

}

.navbar-toggle {

	margin-top: 0;
}

.jumbotron {
	
	background: #fff;
	margin-top: -20px;
}

img {
    display: block;
   	margin-left: 15px;
}

.site-brand {
	width: 350px;
	margin: 0 auto;
}

.header-brand {

	text-align: center;
	margin-left: auto;
	font-size: 3.8em;
	font-weight: lighter;
	font-family: 'Source Sans Pro', sans-serif;
}


.about {
	background: #82B1FF;
}


.contact {
	background: #FFB74D;
}


.list-row {

	max-width: 500px;
	margin: 0 auto;
}

.list-row ul {

	list-style: none;
	padding-top: 150px;
	
}

.list-row ul li {

	text-align: center;
	display: inline;
}

.list-row ul .second-item{

	margin-left: 230px;
}











