.hero {
  background: url(../img/imgban.jpg) no-repeat;
  background-size: 100% 100%;
  margin-top: -32px;
  max-width: 100%;
  height: auto;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}
img {
  visibility: visible;
}
footer.page-footer {
  margin-top: 0;
}
.thin {
  font-weight: 200;
}
.cont-container {
  padding-top: 40px;
  margin-top: 50px;
}
.brand-logo {
  margin: 0 auto;
  color: purple;
}
.imglogo {
  margin-top: 5px;
  margin-left: -180px;
}
.box {
  margin-top: 60px;
}
.hero-title {
  color: black;
  font-size: 2em;
  margin-left: 100px;
}
nav {
  margin-top: -32px;
}