.nav {

	height: 50px;
}

.navbar-brand {

	font-size: 1.5em;
	margin-top: -5px;
}

.container-fluid {

	padding-top: 15px;
	margin-top: -5px;
	font-size: 1.1em;
}

.navbar-collapse {
	
	padding-top: -10px;
	height: 173px;
	text-align: center;
	

}
.navbar-collapse li {

	border-bottom: 1px solid #E0E0E0;

	

}